﻿
.page-wrap .inner-wrap
{
    margin: 0 auto;
    padding: 30px 0;
    width: 980px;
}

.page-body
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
}

.page-title
{
    border-bottom: 2px solid #FF9900;
    margin: 0 auto 20px;
    padding: 5px 20px;
    position: relative;
    color: #333333;
}

#login-panal:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    padding: 19px 19px 30px;
}

#login-panal-left
{
    float: left;
    width: 450px;
}

.standard-table, td, th, tr
{
    border-collapse: collapse;
    font-size: 12px;
}

.text-column
{
    color: #444444;
    line-height: 34px;
    padding: 10px;
    text-align: right;
    vertical-align: top;
}

.input-column
{
    padding: 10px;
}

    .input-column input[type="text"], .input-text
    {
        border: 1px solid #C6C6C6;
        font-size: 12px;
        line-height: 20px;
        margin: 0;
        padding: 6px;
        width: 200px;
    }
/*右边*/
/*第三方登陆*/
.loginCont .ico
{
    margin-top: 15px;
    float: left;
    height: 26px;
    overflow: hidden;
    text-indent: -999em;
    width: 113px;
}

.loginCont .qq
{
    /*background: url("/Content/Images/object-bg.jpg") no-repeat scroll 0 -239px rgba(0, 0, 0, 0);*/
}
/*第三方登陆 结束*/

#login-panal-right
{
    border-left: 1px solid #C6C6C6;
    float: right;
    margin-top: 20px;
    padding-left: 50px;
    width: 440px;
}

p.actions
{
    padding: 20px 0 0;
}

.btn.minor:hover
{
    color: #444;
    border-color: #B2B2B2;
    background: -moz-linear-gradient(top,#DFDFDF,#D4D4D4);
    background: -webkit-gradient(linear,top,from(#DFDFDF),to(#D4D4D4));
    background-color: #DFDFDF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#d4d4d4');
    -moz-box-shadow: inset 0 1px 0 #e5e5e5;
    -webkit-box-shadow: inset 0 1px 0 #E5E5E5;
    box-shadow: inset 0 1px 0 #E5E5E5;
}

.btn.minor
{
    color: #444;
    border-color: #C6C6C6;
    background: -moz-linear-gradient(top,#F8F8F8,#ECECEC);
    background: -webkit-gradient(linear,top,from(#F8F8F8),to(#ECECEC));
    background-color: #F8F8F8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ececec');
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
}

.btn.large
{
    border-radius: 5px;
    font-family: "Hiragino Sans GB",sans-serif;
    font-size: 18px;
    line-height: 18px;
    min-width: 100px;
    padding: 13px 15px;
    text-align: center;
}
