﻿body, div, address, iframe, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, table, th, td, form, input, button, select, textarea {
    padding: 0;
    margin: 0;
}

body {
    background: none repeat scroll 0 0 #FFFFFF;
    font: 12px/1.5 tahoma, arial, "Microsoft Yahei";
    line-height: 1.4;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

ul, li {
    list-style: none;
}

i {
    font-style: normal;
}

img {
    border: 0 none;
    vertical-align: middle;
}

a {
    color: #4c4c4c;
    text-decoration: none;
}

a:hover {
    color: #d8251e;
    text-decoration: none;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

h1 {
    font-size: 22px;
    line-height: 32px;
}

.m10 {
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.page-wrap {
    background: url(../images/bg.jpg) 0 0 repeat #efefef;
}

input {
    outline: medium none;
}

input, textarea, select {
    font-family: inherit;
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.field-validation-error {
    color: red;
}

.btn {
    background: -moz-linear-gradient(center top, #FFB73F, #FFA002) repeat scroll 0 0 #FFB73F;
    background: -webkit-gradient(linear, top, from(#FFB73F), to(#FFA002));
    border-color: #DD8A00;
    background-color: #FFB73F;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb73f', endColorstr='#ffa002');
    /*background-color:#FF9F00;*/
    box-shadow: 0 1px 0 #FFDB9F inset;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 9px;
}

/*按钮*/
.btn, .btn:hover {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

.btn {
    padding: 8px 9px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
}

.btn.medium {
    padding: 9px 15px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
}

.btn.large {
    min-width: 100px;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    font-family: "Hiragino Sans GB", sans-serif;
}

.btn {
    color: #fff;
    border-color: #dd8a00;
    background: -moz-linear-gradient(top, #ffb73f, #ffa002);
    background: -webkit-gradient(linear, top, from(#ffb73f), to(#ffa002));
    background: -webkit-linear-gradient(top, #ffb73f, #ffa002);
    background: -o-linear-gradient(top, #ffb73f, #ffa002);
    background: -ms-linear-gradient(top, #ffb73f, #ffa002);
    background: linear-gradient(top, #ffb73f, #ffa002);
    background-color: #ffb73f;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb73f', endColorstr='#ffa002');
    -moz-box-shadow: inset 0 1px 0 #ffdb9f;
    -webkit-box-shadow: inset 0 1px 0 #ffdb9f;
    box-shadow: inset 0 1px 0 #ffdb9f;
}

.btn:hover {
    color: #fff;
    border-color: #bc7500;
    background: -moz-linear-gradient(top, #d99c36, #d98802);
    background: -webkit-gradient(linear, top, from(#d99c36), to(#d98802));
    background: -webkit-linear-gradient(top, #d99c36, #d98802);
    background: -o-linear-gradient(top, #d99c36, #d98802);
    background: -ms-linear-gradient(top, #d99c36, #d98802);
    background: linear-gradient(top, #d99c36, #d98802);
    background-color: #d99c36;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d99c36', endColorstr='#d98802');
    -moz-box-shadow: inset 0 1px 0 #d9ba87;
    -webkit-box-shadow: inset 0 1px 0 #d9ba87;
    box-shadow: inset 0 1px 0 #d9ba87;
}

.btn.minor {
    color: #444;
    border-color: #c6c6c6;
    background: -moz-linear-gradient(top, #f8f8f8, #ececec);
    background: -webkit-gradient(linear, top, from(#f8f8f8), to(#ececec));
    background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
    background: -o-linear-gradient(top, #f8f8f8, #ececec);
    background: -ms-linear-gradient(top, #f8f8f8, #ececec);
    background: linear-gradient(top, #f8f8f8, #ececec);
    background-color: #f8f8f8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ececec');
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.btn.minor:hover {
    color: #444;
    border-color: #b2b2b2;
    background: -moz-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: -webkit-gradient(linear, top, from(#dfdfdf), to(#d4d4d4));
    background: -webkit-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: -o-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: -ms-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: linear-gradient(top, #dfdfdf, #d4d4d4);
    background-color: #dfdfdf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#d4d4d4');
    -moz-box-shadow: inset 0 1px 0 #e5e5e5;
    -webkit-box-shadow: inset 0 1px 0 #e5e5e5;
    box-shadow: inset 0 1px 0 #e5e5e5;
}

input.btn[disabled] {
    cursor: default;
    color: gray;
    border-color: #dcdcdc;
    background: -moz-linear-gradient(top, #ededed, #dfdfdf);
    background: -webkit-gradient(linear, top, from(#ededed), to(#dfdfdf));
    background: -webkit-linear-gradient(top, #ededed, #dfdfdf);
    background: -o-linear-gradient(top, #ededed, #dfdfdf);
    background: -ms-linear-gradient(top, #ededed, #dfdfdf);
    background: linear-gradient(top, #ededed, #dfdfdf);
    background-color: #ededed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    text-shadow: 1px 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.block {
    margin: 0 auto;
    border: solid 1px #bbbeaf;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;
    background: #fff;
}

.block-bottom {
    margin: 0 auto;
    border-bottom: solid 1px #bbbeaf;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;
    background: #fff;
}

.title1 {
    background: -moz-linear-gradient(top, #e8f5fe, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#e8f5fe), to(#fff));
}

.text-center {
    text-align: center;
}

.margin10 {
    margin: 10px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

input {
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    border: #35a5e5 1px solid;
    border-radius: 4px;
    outline: none;
}
input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    -moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}