﻿.cc-yellow {
    color: #FF9F00;
}
.cc-syellow {
    color: #ED9400;
}
.cc-darkgrey {
    color: #535353;
}
.cc-red {
    color: #FF0000;
}
a.ca-lightgrey {
    color: #898989;
}
a.ca-darkgrey {
    color: #3E4545;
}
a.ca-black {
    color: #000000;
}
a.ca-deepgrey {
    color: #434343;
}
a.ca-brown {
    color: #444444;
}
.ct-white {
    color: #FFFFFF;
}
.ct-lightgreen {
    color: #E8FABF;
}
.ct-black {
    color: #000000;
}
.ct-gray {
    color: #A0A0A0;
}
.ct-green {
    color: #8FC31F;
}
.ct-darkgreen {
    color: #96BD38;
}
.ct-lightwhite {
    color: #D3D3D3;
}
.ct-lightgrey {
    color: #898989;
}
.ct-deepgrey {
    color: #434343;
}
.ct-red {
    color: #E64B2C;
}