﻿.page-header {
    background-color: #FFFFFF;
    border-bottom: 2px solid #B2D460;
    height: 70px;
}

.top-nav {
    background-color: #F4F4F4;
}

.topnav-wrap {
    color: #898989;
    height: 27px;
    margin: 0 auto;
    padding-top: 9px;
    width: 980px;
}

a.ca-lightgrey {
    color: #898989;
}

.top-nav .site-name:hover {
    color: #B2D460;
}

.top-nav .topnav-wrap .logout {
    margin-left: 10px;
}

.top-nav .site-name:hover .icon {
    background-position: -175px -23px;
}

.i-phone {
    background-position: -88px 0;
    height: 14px;
    width: 10px;
}

.icon {
    /*background-image: url("static/images/icons.png");*/
    background-repeat: no-repeat;
    display: inline-block;
}

.top-nav .wap span, .top-nav .site-name span {
    margin-left: 5px;
}

.top-nav .name, .top-nav .action {
    margin-left: 24px;
}

.page-header .icon {
    vertical-align: -1px;
}

.middle-nav .desire a:hover {
    color: #B2D460;
}

.middle-nav .home-page:hover .icon {
    background-position: -195px -22px;
}

.middle-nav .check-order:hover .icon {
    background-position: -106px -22px;
}

.middle-nav .help:hover .icon {
    background-position: -127px -23px;
}

.i-home {
    background-position: -195px -2px;
    height: 15px;
    width: 18px;
}

.i-tuan {
    background-position: -65px 0;
    height: 14px;
    width: 14px;
}

.middle-nav .desire .corporation {
    margin-right: 0;
}

/*导航*/
.middlenav-wrap {
    color: #898989;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    overflow: hidden;
    width: 980px;
}

.middle-nav .desire a {
    font-size: 16px;
    margin-right: 29px;
}

.middle-nav .desire span {
    margin-left: 5px;
}

.i-search {
    background-position: -106px 0;
    height: 14px;
    width: 14px;
}

.i-help {
    background-position: -127px 0;
    height: 14px;
    width: 16px;
}

.middle-nav .logo {
    margin-top: 13px;
}

/*底部*/
.page-footer {
    background-color: #F1F1F1;
    border-top: 3px solid #B2D460;
    color: #3E4545;
}

.footer-wrap {
    margin: 0 auto;
    width: 580px;
}

.page-footer .help, .page-footer .update, .page-footer .corp, .page-footer .info {
    padding-left: 29px;
    width: 162px;
}

.corp {
    border-left: 1px dotted #A5A5A5;
    border-right: 1px dotted #A5A5A5;
}

.page-footer .column {
}

.page-footer .title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
}

.page-footer ul {
    margin: 10px 0 0 17px;
}

.page-footer li {
    line-height: 24px;
    list-style: square outside none;
}

a.ca-darkgrey {
    color: #3E4545;
}

.page-footer .service {
    border-right: 1px dotted #A5A5A5;
    padding-top: 18px;
    text-align: center;
    width: 210px;
}

.i-service-avatar {
    background-position: 0 -244px;
    height: 49px;
    width: 52px;
}

.page-footer .w2 {
    color: #555555;
    font-size: 18px;
    margin-top: 6px;
}

.page-footer .copyright {
    color: #8A8A8A;
    margin-top: 20px;
    text-align: center;
}

.copyright {
    clear: both;
    color: #6F6F6F;
    font-size: 12px;
    padding: 40px 0 30px;
    text-align: center;
}
