﻿.page-wrap .inner-wrap {
    margin: 0 auto;
    padding: 30px 0;
    width: 980px;
}

.sub-title {
    border-left: 5px solid #FF9F00;
    color: #444444;
    font-family: "Hiragino Sans GB";
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 0 10px;
}

#order-wrap {
    border: solid 1px #bbbeaf;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;
    background: #fff;
    margin: 20px 0 0;
    width: 958px;
}

#confirm-order-left {
    border-right: dotted #B2D460 1px;
    float: left;
    padding: 20px;
    width: 460px;
}

#order-wrap h2 {
    padding: 15px 0;
}

#order-restaurant img.restaurant-logo {
    float: left;
    margin-right: 20px;
}

#order-wrap h2 {
    padding: 15px 0;
}

.order-food-list table {
    border-bottom: 1px dashed #DDDDDD;
    border-top: 1px dashed #DDDDDD;
    margin: 20px 0;
    width: 100%;
}

.order-food-list td {
    padding: 4px 0;
}

.standard-table, td, tr, th {
    border-collapse: collapse;
    font-size: 12px;
}

.order-food-list th.menu-name {
    text-align: left;
    width: 200px;
}

.order-food-list th {
    border-bottom: 1px dashed #DDDDDD;
    padding: 8px 0;
}

.order-food-list th.menu-count, .order-food-list td.menu-count, .order-food-list th.menu-price, .order-food-list td.menu-price, .order-food-list th.menu-subtotal, .order-food-list td.menu-subtotal {
    text-align: right;
}

.order-food-list .total td {
    border-top: 1px dashed #DDDDDD;
    padding-bottom: 8px;
    padding-top: 8px;
}

.order-food-list .total-price {
    font-size: 16px;
    font-weight: bold;
}

/*右边*/
#confirm-order-right {
    float: right;
    width: 400px;
}

#confirm-order-address {
    padding: 20px 10px;
}

#confirm-order-address table {
    width: 400px;
}

#confirm-order-address td.title {
    width: 80px;
    height: 48px;
}

#confirm-order-address input.text {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size: 12px;
    padding: 6px;
    width: 150px;
}

#confirm-order-address input.large-text {
    width: 250px;
}

/*确认订单*/
#confirm-order-confirm {
    padding-right: 29px;
    text-align: right;
    margin-bottom: 10px;
}

/*按钮*/
.btn, .btn:hover {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

.btn {
    padding: 8px 9px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
}

.btn.medium {
    padding: 9px 15px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
}

.btn.large {
    min-width: 100px;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    font-family: "Hiragino Sans GB", sans-serif;
}

.btn {
    color: #fff;
    border-color: #dd8a00;
    background: -moz-linear-gradient(top, #ffb73f, #ffa002);
    background: -webkit-gradient(linear, top, from(#ffb73f), to(#ffa002));
    background: -webkit-linear-gradient(top, #ffb73f, #ffa002);
    background: -o-linear-gradient(top, #ffb73f, #ffa002);
    background: -ms-linear-gradient(top, #ffb73f, #ffa002);
    background: linear-gradient(top, #ffb73f, #ffa002);
    background-color: #ffb73f;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb73f', endColorstr='#ffa002');
    -moz-box-shadow: inset 0 1px 0 #ffdb9f;
    -webkit-box-shadow: inset 0 1px 0 #ffdb9f;
    box-shadow: inset 0 1px 0 #ffdb9f;
}

.btn:hover {
    color: #fff;
    border-color: #bc7500;
    background: -moz-linear-gradient(top, #d99c36, #d98802);
    background: -webkit-gradient(linear, top, from(#d99c36), to(#d98802));
    background: -webkit-linear-gradient(top, #d99c36, #d98802);
    background: -o-linear-gradient(top, #d99c36, #d98802);
    background: -ms-linear-gradient(top, #d99c36, #d98802);
    background: linear-gradient(top, #d99c36, #d98802);
    background-color: #d99c36;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d99c36', endColorstr='#d98802');
    -moz-box-shadow: inset 0 1px 0 #d9ba87;
    -webkit-box-shadow: inset 0 1px 0 #d9ba87;
    box-shadow: inset 0 1px 0 #d9ba87;
}

.btn.minor {
    color: #444;
    border-color: #c6c6c6;
    background: -moz-linear-gradient(top, #f8f8f8, #ececec);
    background: -webkit-gradient(linear, top, from(#f8f8f8), to(#ececec));
    background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
    background: -o-linear-gradient(top, #f8f8f8, #ececec);
    background: -ms-linear-gradient(top, #f8f8f8, #ececec);
    background: linear-gradient(top, #f8f8f8, #ececec);
    background-color: #f8f8f8;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ececec');
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.btn.minor:hover {
    color: #444;
    border-color: #b2b2b2;
    background: -moz-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: -webkit-gradient(linear, top, from(#dfdfdf), to(#d4d4d4));
    background: -webkit-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: -o-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: -ms-linear-gradient(top, #dfdfdf, #d4d4d4);
    background: linear-gradient(top, #dfdfdf, #d4d4d4);
    background-color: #dfdfdf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#d4d4d4');
    -moz-box-shadow: inset 0 1px 0 #e5e5e5;
    -webkit-box-shadow: inset 0 1px 0 #e5e5e5;
    box-shadow: inset 0 1px 0 #e5e5e5;
}

input.btn[disabled] {
    cursor: default;
    color: gray;
    border-color: #dcdcdc;
    background: -moz-linear-gradient(top, #ededed, #dfdfdf);
    background: -webkit-gradient(linear, top, from(#ededed), to(#dfdfdf));
    background: -webkit-linear-gradient(top, #ededed, #dfdfdf);
    background: -o-linear-gradient(top, #ededed, #dfdfdf);
    background: -ms-linear-gradient(top, #ededed, #dfdfdf);
    background: linear-gradient(top, #ededed, #dfdfdf);
    background-color: #ededed;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    text-shadow: 1px 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

