﻿/*jquery ui 列表*/
.ui-tabs, .ui-tabs .ui-tabs-panel, .ui-widget-content {
    border: none;
    padding: 0;
}

.ui-widget-header {
    background: -moz-linear-gradient(center top, #FFFFFF 0%, #F5F5F5 100%) repeat scroll 0 0 #F5F5F5;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(whiteSmoke));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5');
    border: none;
    height: 46px;
    border-bottom: 1px solid #E0F0BA;
}

.ui-tabs .ui-tabs-nav li {
    margin: 0;
    font-size: 14px;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 1em 1.5em;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
    background: none;
    border: none;
}

.ui-tabs .ui-tabs-nav .ui-state-active {
    border: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FB9E24 #E0F0BA #FFFFFF;
    border-style: solid;
    border-width: 4px 0 1px;
    color: #444444;
    font-weight: bold;
    padding-top: 0;
}

/*jquery ui 结束 列表*/
.page-wrap .inner-wrap {
    margin: 0 auto;
    padding: 30px 0;
    width: 980px;
}

.inner-wrap {
    min-height: 360px;
}

.sub-title {
    border-left: 5px solid #B2D460;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
    padding: 0 10px;
}

.rest-broadcaster {
    background-color: #FFF0CC;
    border: 1px solid #E0F0BA;
    color: #FF0000;
    margin-top: 15px;
    padding: 10px 20px;
}

a.ca-brown {
    color: #444444;
}

.sub-title span {
    color: #808080;
    font-weight: normal;
    margin: 0 10px;
}

#category-menu-container {
    margin: 15px auto;
    border: solid 1px #bbbeaf;
    -moz-box-shadow: 0 0 4px #888;
    -webkit-box-shadow: 0 0 4px #888;
    box-shadow: 0 0 4px #888;
    background: #fff;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    float: left;
    margin-top: 10px;
    width: 718px;
}

.page-nav .tab {
    background: -moz-linear-gradient(center top, #FFFFFF 0%, #F5F5F5 100%) repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #E0F0BA;
    height: 46px;
}

.menu-categories {
    border-bottom: 2px solid #E0F0BA;
    padding: 15px 20px;
}

.menu-categories-fixed {
    background-color: #FFFFFF;
    border-left: 1px solid #E0F0BA;
    border-right: 1px solid #E0F0BA;
    box-shadow: 0 1px 5px #CCCCCC;
    position: fixed;
    top: 0;
    width: 677px;
    z-index: 2;
}

.menu-categories h3 {
    float: left;
    font-size: 14px;
}

.menu-categories .list {
    line-height: 27px;
    padding-left: 78px;
}

.menu-categories li.active {
    background-color: #B2D460;
}

.menu-categories li {
    display: inline-block;
    margin-right: 22px;
    padding: 0 7px;
}

.menu-categories li a {
    color: #666666;
    outline: medium none;
}

.menu-categories li.active a, .menu-categories li.active span {
    color: #FFFFFF;
}

.menu-categories li span {
    color: #999999;
    margin-left: 5px;
}

/*开始 类别搜索与列表或者图片显示*/
.list_gray_thead {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 2px;
    color: #444444;
    height: 40px;
    margin-bottom: 15px;
}

div.th_type {
    float: left;
    margin-top: 7px;
    width: 370px;
}

div.th_type a.type_thumb {
    background-position: 0 -52px;
}

.thumb_th_order {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
    text-align: right;
}

div.th_type a.selected_type_thumb {
    background-position: 0 -78px;
}

div.th_type a {
    /*background: url("/Content/Images/list_type.png");*/
    display: inline-block;
    float: left;
    height: 26px;
    margin-left: 10px;
    width: 60px;
}

div.th_type a.selected_type_list {
    background-position: 0 -26px;
}

.thumb_th_order span.fg {
    color: #CCCCCC;
}

.thumb_th_order a {
    color: #4C4C4C;
}

.thumb_th_order .text {
    /*background-image: url("/Content/Images/search.jpg");*/
    background-position: 0px 6px;
    background-repeat: no-repeat;
    border-left: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #BBBBBB;
    color: #A9A9A9;
    /*font-family: 宋 体;*/
    font-size: 12px;
    height: 24px;
    line-height: 18px;
    padding: 1px 0 0 18px;
    vertical-align: middle;
    width: 153px;
    z-index: 3;
}

.thumb_th_order .button {
    background-color: #FB9E24;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    height: 26px;
    margin-left: -6px;
    vertical-align: middle;
    width: 40px;
    z-index: 1;
}

.thumb_th_order .button:hover {
    background: -moz-linear-gradient(center top, #D99C36, #D98802) repeat scroll 0 0 #D99C36;
    border-color: #BC7500;
    box-shadow: 0 1px 0 #D9BA87 inset;
    color: #FFFFFF;
}

/*结束 类别搜索与列表或者图片显示*/
#category-menu-container .content-list {
    padding: 0 16px;
}

.one-category-menus-container {
    border-bottom: 1px solid #E5E5E5;
    color: #404040;
}

.one-category-menus-container h3 {
    font-weight: bold;
    padding: 20px 5px 10px;
}

.product {
    border-top: 1px dotted #CCCCCC;
    cursor: pointer;
}

.product-name {
    float: left;
    font-size: 14px;
    padding: 10px 0 10px 5px;
    width: 539px;
}

.product-price {
    float: left;
    margin: 10px 0;
    padding-right: 15px;
    text-align: right;
    width: 85px;
}

.invisible-data {
    display: none;
}

.product img.over {
    display: none;
}

.product img.normal {
    display: block;
}

.over img.normal {
    display: none;
}

.over img.over {
    display: block;
}

.product img.img-pick-product {
    float: left;
    margin: 9px 5px 0;
}

.over {
    background: none repeat scroll 0 0 #FFF0CC;
}

/*右边*/
#right-bar {
    float: right;
    margin-top: 10px;
    width: 250px;
}

#broadcaster-bar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}

.broadcaster .title {
    background-color: #B2D460;
    padding: 9px;
}

.broadcaster h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
}

.broadcaster .content {
    padding: 9px;
}

.average-time {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    line-height: 42px;
    padding: 0 9px;
}

.average-time .time strong {
    font-size: 18px;
}

.average-time {
    line-height: 42px;
}

#info-bar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 8px;
    margin-top: 10px;
}

#info-bar p {
    font-size: 14px;
    margin: 6px 0;
}

.order-bar {
    /*background: none repeat scroll 0 0 #E0F0BA;*/
    border: 1px solid #CCCCCC;
    margin-top: 10px;
    width: 248px;
}

.order-bar h3 {
    margin: 5px 0 15px;
}

.order-bar table {
    border-collapse: collapse;
    display: block;
    max-height: 450px; /*overflow-y:auto;*/
    width: 100%;
}

.standard-table, td, tr, th {
    border-collapse: collapse;
    font-size: 12px;
}

.order-bar th.menu-name, .order-bar td.menu-name {
    text-align: left;
    width: 55%;
}

.order-bar th, .order-bar td {
    line-height: 1;
    text-align: center;
}

.order-bar th {
    font-weight: bold;
    padding-bottom: 10px;
}

.order-bar th.menu-price, .order-bar td.menu-price {
    text-align: right;
}

.order-bar td#total-label, .order-bar td#total-price {
    font-weight: bold;
    padding-top: 10px;
}

.order-bar th.menu-name, .order-bar td.menu-name {
    text-align: left;
    width: 55%;
}

.order-bar .btn.medium {
    height: 40px;
    margin-top: 10px;
    width: 230px;
}

.order-bar td {
    padding: 4px 0;
}

.order-bar th, .order-bar td {
    line-height: 1;
    text-align: center;
}

.order-bar td.menu-count span {
    line-height: 100%;
    padding: 0 6px;
    vertical-align: middle;
}

.order-bar-fixed {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.btn.medium {
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    padding: 9px 15px;
}

/*列表图片显示*/
#imgBoxList .item {
    border: 1px solid #DDDDDD;
    display: block;
    float: left;
    margin: 10px 10px 0 0;
    padding: 5px 5px 7px;
    position: relative;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
}

#imgBoxList .item:hover {
    box-shadow: 0 0 10px #B2D460;
    -webkit-box-shadow: 0 0 10px #B2D460;
    -moz-box-shadow: 0 0 10px #B2D460;
}

#imgBoxList .item .pic img {
    height: 150px;
    opacity: 0;
    width: 150px;
}

#imgBoxList .item .name {
    padding: 3px 0;
    width: 150px;
}

#imgBoxList .item .name a {
    color: #000000;
}

#imgBoxList .item .detail {
    clear: both;
    display: block;
    height: 27px;
    line-height: 27px;
    position: relative;
}

#imgBoxList .item .price {
    color: #9A9A9A;
    font-size: 12px;
    padding: 0 5px;
}

#imgBoxList .item .price i {
    color: #999999;
    font-family: 'georgia' !important;
    font-size: 16px;
    font-weight: 700;
}

#imgBoxList {
    width: 690px;
    padding-bottom: 30px;
}

#imgBoxList .addbtn {
    position: absolute;
    right: 5px;
    top: 0;
}

#imgBoxList .add_btn {
    background: url("../images/icon-add-off.gif");
    border: medium none;
    cursor: pointer;
    height: 24px;
    overflow: hidden;
    width: 26px;
}

#imgBoxList .hover .add_btn {
    background: url("../images/icon-add-on.gif");
    border: medium none;
    cursor: pointer;
    height: 24px;
    overflow: hidden;
    width: 26px;
}

#comment .none {
    color: #808080;
    font-size: 18px;
    line-height: 30px;
    padding: 100px 0;
    text-align: center;
}
